@model AuthWebApi.DTO.ViewModels.Claim.DeleteViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminLayout";
}

<h1>Удалить</h1>
<hr />
<h3>@Model.ClaimValue</h3>
<div>
    <dl class="row edit-box">
        <div class="col"> <strong>UserId</strong> </div>
        <div class="col">@Model.UserId</div>
        
        <div class="w-100 edit-text"></div>
        
        <div class="col"> <strong>ClaimType</strong> </div>
        <div class="col">@Model.ClaimType</div>
        
        <div class="w-100 edit-text"></div>
        
        <div class="col"> <strong>ClaimValue</strong> </div>
        <div class="col">@Model.ClaimValue</div>
        
        <div class="w-100 edit-text"></div>
    </dl>
    <h3>Вы хотите удалить этого пользователя?</h3>
    <form asp-action="Delete">
        <input type="submit" value="Удалить" class="btn btn-danger"/>
        <a asp-action="Index" class="panel-table-link">Вернуться</a>
    </form>
</div>