html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.arrow {
  max-width: 50px; 
  height: 40px
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Logout */
.logout {
  color: #393939;
  text-decoration: none;
  font-weight: 600;
}

@media (hover: hover) {
  /* when hover is supported */
  .logout:hover {
    color: white;
  }
}

/* Panel */
.login-text {
  color: #808080;
  font-weight: bold;
}

@media (max-width: 950px) {
  .hide {
    display: none; 
  }
}

/* Panel SideBar*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: fit-content;
  z-index: 600;
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-logo {
  margin: 5px 10px 20px 10px;
  width: 100px;
}

.sidebar-nav {
  align-items: center
}

.sidebar-button {
  max-width: 50px; 
  min-width: 50px
}

@media (max-width: 500px) {
  .sidebar {
    display: none;
  }
  
  .panel-container {
    margin-left: 20px !important;
  }
  
  .panel-bar-margin {
    margin-left: 10px !important;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Panel Header*/
.panel-header-container-right {
  max-width: 95%;
  margin-right: 10px
}

/* Panel Body */
.panel-container {
  margin-left: 150px;
  margin-right: 30px
}

.panel-page-count {
  height: 40px;
  display: inline-block;
  border: 1px solid #ced4da;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  min-width: 40px;
}

.panel-bar-margin {
  margin-left: 140px
}

/* Panel Body Users*/
.panel-nav {
  margin-bottom: 20px
}

.panel-table-link {
  color: #0153A0;
  text-decoration: none;
  font-weight: 500;
}

/* Edit */
.edit-text {
  margin-top: 15px;
}

.edit-box {
  max-width: 500px !important;
}

/* User */
.user-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 40px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  border-radius: 0;
  min-width: 500px;
}

.user-background {
  background: url("/auth-background.png");
  background-size: cover;
}

.user-label {
  font-weight: 500
}

.user-link {
  margin-left: 10px; 
  color: #0153A0; 
  text-decoration: none; 
  font-weight: 600;
}

.user-info {
  font-size: 15px;
  margin-top: 25px
}

/* Auth */
.auth-box {
  margin-top: 8%; 
  border-radius: 0
}

.auth-form {
  margin-top: 100px
}

.auth-logo {
  width: 200px;
  position: absolute;
  top: 25%; left: 50%;
  transform: translate(-50%, -50%)
}

/* Registry */
.reg-logo {
  width: 200px;
  position: absolute;
  top: 10%; left: 50%;
  transform: translate(-50%, -50%)
}

/* Search */
.search-submit {
  background: url("/search.png") no-repeat center;
  background-size: 15px;
  width: 40px;
}