@model AuthWebApi.DTO.ViewModels.Auth.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPasswprd";
}

<div class="row auth-box">
    <div class="col-md-4 user-form">
        <img src="/psp.png" class="auth-logo" alt="No Logo"/>
        <form asp-controller="Auth" asp-action="ForgotPassword" method="post" class="auth-form">
            <div class="edit-text">
                <label asp-for="Email" class="control-label user-label">Почта</label>
                <input asp-for="Email" placeholder="Введите почту" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="edit-text">
                <button type="submit" class="btn btn-primary">Востановить</button>
                <a asp-controller="Auth" asp-action="Login" class="user-link">
                    Вернуться ко входу
                </a>
            </div>
        </form>
        <p class="user-info">Приложению "PSP" будет предоставлен доступ к вашим данным: имени, адресу электронной почты. 
            Прежде чем начать работу с приложением "PSP", вы можете ознакомиться с его политикой конфиденциальности 
            и условиями использования.</p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}