@model AuthWebApi.DTO.ViewModels.Auth.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row auth-box">
    <div class="col-md-4 user-form">
        <img src="/psp.png" class="auth-logo" alt="No Logo"/>
        <form asp-controller="Auth" asp-action="Login" method="post" class="auth-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnUrl"/>
            <div class="edit-text">
                <label asp-for="Username" class="control-label user-label">Логин</label>
                <input asp-for="Username" placeholder="Введите логин" class="form-control"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="edit-text">
                <label asp-for="Password" class="control-label user-label">Пароль</label>
                <input asp-for="Password" placeholder="Введите пароль" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="edit-text">
                <button type="submit" class="btn btn-primary">Войти</button>
                <a asp-controller="Auth" asp-action="ForgotPassword" class="user-link">
                    Забыли пароль?
                </a>
            </div>
        </form>
        <hr/>
        <a asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-dark auth-reg">
            Регистрация
        </a>
        <form asp-controller="Auth" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" class="yandex-form">
            <button type="submit" name="provider" value="Yandex" class="btn external-button">
                <p class="external-text"> <img src="/yandex.png" class="logo" alt="Yandex"/> Войти через Яндекс ID</p>
            </button>
        </form>
        <form asp-controller="Auth" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" class="vk-form">
            <button type="submit" name="provider" value="Vkontakte" class="btn external-button">
                <p class="external-text"> <img src="/vk-white-icon.png" class="logo" alt="Vkontakte"/> Войти через VK ID</p>
            </button>
        </form>
        
        <p class="user-info">Приложению "PSP" будет предоставлен доступ к вашим данным: имени, адресу электронной почты. 
            Прежде чем начать работу с приложением "PSP", вы можете ознакомиться с его политикой конфиденциальности 
            и условиями использования.</p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}