@model AuthWebApi.DTO.ViewModels.Auth.LoginViewModel

<div class="row">
    <div class="col-md-4" style="margin-left: auto; margin-right: auto">
        <h1>Sign In With</h1>
        <form asp-controller="Auth" asp-action="Login" method="post" >
            <input type="hidden" asp-for="ReturnUrl"/>
            <div style="margin: 15px">
                <label asp-for="Username" class="control-label">Username</label>
                <input asp-for="Username" class="form-control"/>
            </div>
            <div style="margin: 15px">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control"/>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" style="background-color: #605DEC; border-color: #605DEC;">Sign In</button>
            </div>
        </form>
        <div>
            <a asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">
                Register
            </a>
        </div>
    </div>
</div>