@model AuthWebApi.DTO.ViewModels.Auth.LoginViewModel

<div class="row" style="margin-top: 8%; border-radius: 0px">
    <div class="col-md-4 auth-form" style="border-radius: 0px">
        <img src="psp.png"/>
        <h1>Вход</h1>
        <form asp-controller="Auth" asp-action="Login" method="post">
            <input type="hidden" asp-for="ReturnUrl"/>
            <div class="edit-text">
                <label asp-for="Username" class="control-label">Логин</label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="edit-text">
                <label asp-for="Password" class="control-label">Пароль</label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="edit-text">
                <button type="submit" class="btn btn-primary">ВХОД</button>
                <a asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">
                    Регистрация
                </a>
            </div>
        </form>
        <p class="info">Приложению "avs.io" будет предоставлен доступ к вашим данным: имени, адресу электронной почты. Прежде чем начать работу с приложением "PSP", вы можете ознакомиться с его политикой конфиденциальности и условиями использования.</p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}