@model AuthWebApi.DTO.ViewModels.Auth.RegisterViewModel

<div class="row">
    <div class="col-md-4" style="margin-left: auto; margin-right: auto; margin-top: 40px; padding: 40px; background-color: white; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%); border-radius: 10px; min-width: 450px">
        <h1>Регистрация</h1>
        <form asp-controller="Auth" asp-action="Register" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <div style="margin-top: 15px">
                <label asp-for="Username" class="control-label">Username</label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username"></span>
            </div>
            <div style="margin-top: 15px">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email"></span>
            </div>
            <div style="margin-top: 15px">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div style="margin-top: 15px">
                <label asp-for="Surname" class="control-label">Surname</label>
                <input asp-for="Surname" class="form-control"/>
                <span asp-validation-for="Surname"></span>
            </div>
            <div style="margin-top: 15px">
                <label asp-for="Patronymic" class="control-label">Patronymic</label>
                <input asp-for="Patronymic" class="form-control"/>
                <span asp-validation-for="Patronymic"></span>
            </div>
            <div style="margin-top: 15px">
                <label asp-for="ConfirmPassword" class="control-label">Password</label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div style="margin-top: 15px">
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
        </form>

        <a asp-controller="Auth" asp-action="Login"
           asp-route-returnUrl="@Model.ReturnUrl" style="margin-top: 15px">Back to Login</a>
    </div>
</div>