@model AuthWebApi.DTO.ViewModels.Auth.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-4 user-form">
        <img src="/psp.png" class="reg-logo" alt="No Logo"/>
        <form asp-controller="Auth" asp-action="Register" method="post" class="auth-form">
            <input type="hidden" asp-for="ReturnUrl" value=""/>
            <div class="edit-text">
                <label asp-for="Username" class="control-label user-label">Логин</label>
                <input asp-for="Username" placeholder="Введите логин" class="form-control"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="edit-text">
                <label asp-for="Email" class="control-label user-label">Email</label>
                <input asp-for="Email" placeholder="Введите почту" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="edit-text">
                <label asp-for="Name" class="control-label user-label">Имя</label>
                <input asp-for="Name" placeholder="Введите имя" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="edit-text">
                <label asp-for="Surname" class="control-label user-label">Фамилия</label>
                <input asp-for="Surname" placeholder="Введите фамилию" class="form-control"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="edit-text">
                <label asp-for="Patronymic" class="control-label user-label">Отчество</label>
                <input asp-for="Patronymic" placeholder="Введите отчество" class="form-control"/>
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            <div class="edit-text">
                <label asp-for="Birthday" class="control-label user-label">День рождения</label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="edit-text">
                <label asp-for="Password" class="control-label user-label">Пароль</label>
                <input asp-for="Password" placeholder="Введите пароль" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="edit-text">
                <label asp-for="ConfirmPassword" class="control-label user-label">Повторите пароль</label>
                <input asp-for="ConfirmPassword" placeholder="Введите пароль" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="edit-text">
                <button class="btn btn-primary" type="submit">Регистрация</button>
                <a asp-controller="Auth" asp-action="Login"
                           asp-route-returnUrl="@Model.ReturnUrl" class="edit-text user-link">Вернуться ко входу</a>
            </div>
        </form>
        <p class="user-info">Приложению "PSP" будет предоставлен доступ к вашим данным: имени, адресу электронной почты. 
            Прежде чем начать работу с приложением "PSP", вы можете ознакомиться с его политикой конфиденциальности и 
            условиями использования.</p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}