@model AuthWebApi.DTO.ViewModels.Auth.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row auth-box">
    <div class="col-md-4 user-form">
            <i class="bi bi-envelope-check" style="background-color: #198754"></i>
            <p class="user-info">Подтвердите почту</p>
        </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}