@model AuthWebApi.DTO.ViewModels.Client.CreateViewModel

@{
    ViewData["Title"] = "Clients";
    Layout = "_AdminLayout";
}

<h1>Создать клиента</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group edit-text">
                <label asp-for="ClientId" class="control-label user-label">ClientId</label>
                <input asp-for="ClientId" placeholder="Введите идентификатор" class="form-control" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-check form-switch edit-text">
                <input asp-for="RequirePkce" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label asp-for="RequirePkce" class="form-check-label user-label" for="flexSwitchCheckDefault">RequirePkce</label>
            </div>
            <div class="form-check form-switch edit-text">
                <input asp-for="RequireClientSecret" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label asp-for="RequireClientSecret" class="form-check-label user-label" for="flexSwitchCheckDefault">RequireClientSecret</label>
            </div>
            <div class="form-check form-switch edit-text">
                <input asp-for="AllowAccessTokensViaBrowser" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label asp-for="AllowAccessTokensViaBrowser" class="form-check-label user-label" for="flexSwitchCheckDefault">AllowAccessTokensViaBrowser</label>
            </div>
            <div class="form-check form-switch edit-text">
                <input asp-for="AllowOfflineAccess" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label asp-for="AllowOfflineAccess" class="form-check-label user-label" for="flexSwitchCheckDefault">AllowOfflineAccess</label>
            </div>
            <div class="form-check form-switch edit-text">
                <input asp-for="RequireConsent" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label asp-for="RequireConsent" class="form-check-label user-label" for="flexSwitchCheckDefault">RequireConsent</label>
            </div>
            <div class="form-group edit-text">
                <label asp-for="AllowedGrantTypes" class="control-label user-label">AllowedGrantTypes</label>
                <textarea asp-for="AllowedGrantTypes" class="form-control"></textarea>
                <span asp-validation-for="AllowedGrantTypes" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="RedirectUris" class="control-label user-label">RedirectUris</label>
                <textarea asp-for="RedirectUris" class="form-control"></textarea>
                <span asp-validation-for="RedirectUris" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="AllowedScopes" class="control-label user-label">AllowedScopes</label>
                <textarea asp-for="AllowedScopes" class="form-control"></textarea>
                <span asp-validation-for="AllowedScopes" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="AllowedCorsOrigins" class="control-label user-label">AllowedCorsOrigins</label>
                <textarea asp-for="AllowedCorsOrigins" class="form-control"></textarea>
                <span asp-validation-for="AllowedCorsOrigins" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="ClientSecrets" class="control-label user-label">ClientSecrets</label>
                <textarea asp-for="ClientSecrets" class="form-control"></textarea>
                <span asp-validation-for="ClientSecrets" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="PostLogoutRedirectUris" class="control-label user-label">PostLogoutRedirectUris</label>
                <textarea asp-for="PostLogoutRedirectUris" class="form-control"></textarea>
                <span asp-validation-for="PostLogoutRedirectUris" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="panel-table-link">Вернуться</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
