@model AuthWebApi.DTO.ViewModels.Client.CreateViewModel

@{
    ViewData["Title"] = "Clients";
    Layout = "_AdminLayout";
}

<h1>Создать клиента</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group edit-text">
                <label asp-for="ClientId" class="control-label">ClientId</label>
                <input asp-for="ClientId" class="form-control" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="RequirePkce" class="control-label">RequirePkce</label>
                <input asp-for="RequirePkce" class="form-check" />
                <span asp-validation-for="RequirePkce" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="RequireClientSecret" class="control-label">RequireClientSecret</label>
                <input asp-for="RequireClientSecret" class="form-check" />
                <span asp-validation-for="RequireClientSecret" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="AllowAccessTokensViaBrowser" class="control-label">AllowAccessTokensViaBrowser</label>
                <input asp-for="AllowAccessTokensViaBrowser" class="form-check" />
                <span asp-validation-for="AllowAccessTokensViaBrowser" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="AllowOfflineAccess" class="control-label">AllowOfflineAccess</label>
                <input asp-for="AllowOfflineAccess" class="form-check" />
                <span asp-validation-for="AllowOfflineAccess" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="RequireConsent" class="control-label">RequireConsent</label>
                <input asp-for="RequireConsent" class="form-check" />
                <span asp-validation-for="RequireConsent" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="AllowedGrantTypes" class="control-label">AllowedGrantTypes</label>
                <textarea asp-for="AllowedGrantTypes" class="form-control"></textarea>
                <span asp-validation-for="AllowedGrantTypes" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="RedirectUris" class="control-label">RedirectUris</label>
                <textarea asp-for="RedirectUris" class="form-control"></textarea>
                <span asp-validation-for="RedirectUris" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="AllowedScopes" class="control-label">AllowedScopes</label>
                <textarea asp-for="AllowedScopes" class="form-control"></textarea>
                <span asp-validation-for="AllowedScopes" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="AllowedCorsOrigins" class="control-label">AllowedCorsOrigins</label>
                <textarea asp-for="AllowedCorsOrigins" class="form-control"></textarea>
                <span asp-validation-for="AllowedCorsOrigins" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="ClientSecrets" class="control-label">ClientSecrets</label>
                <textarea asp-for="ClientSecrets" class="form-control"></textarea>
                <span asp-validation-for="ClientSecrets" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="PostLogoutRedirectUris" class="control-label">PostLogoutRedirectUris</label>
                <textarea asp-for="PostLogoutRedirectUris" class="form-control"></textarea>
                <span asp-validation-for="PostLogoutRedirectUris" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
