@model AuthWebApi.DTO.ViewModels.Manage.ChangePasswordViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h1>Изменить пароль пользователя</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NormalizedUserName" />
            <div class="form-group edit-text">
                <label asp-for="CurrentPassword" class="control-label">Текущий пароль</label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="Password" class="control-label">Новый пароль</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="ConfirmPassword" class="control-label">Повторите новый пароль</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}