@model AuthWebApi.DTO.ViewModels.Manage.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "_AdminLayout";
}

<h1>Изменить пароль пользователя</h1>

<h5>@Model.NormalizedUserName</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NormalizedUserName" />
            <div class="form-group edit-text">
                <label asp-for="CurrentPassword" class="control-label user-label">Текущий пароль</label>
                <input asp-for="CurrentPassword" class="form-control" placeholder="Введите Текущий Пароль"/>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="Password" class="control-label user-label">Новый пароль</label>
                <input asp-for="Password" class="form-control" placeholder="Введите Новый Пароль"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="ConfirmPassword" class="control-label user-label">Новый пароль</label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Повторите Новый Пароль"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <input type="submit" value="Изменить пароль" class="btn btn-primary" />
                <a asp-action="Index" class="panel-table-link">Вернуться</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}