@using Microsoft.AspNetCore.Identity
@model AuthWebApi.DTO.ViewModels.Manage.EditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h1>Изменить пользователя</h1>

<h5>@Model.NormalizedUserName</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NormalizedUserName" />
            <div class="form-group edit-text">
                <label asp-for="Name" class="control-label">Имя</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="Surname" class="control-label">Фамилия</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="Patronymic" class="control-label">Отчество</label>
                <input asp-for="Patronymic" class="form-control" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="Email" class="control-label">Почта</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="EmailConfirmed" class="control-label">Почта</label>
                <input asp-for="EmailConfirmed" class="form-check" />
                <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
            </div>
            <div class="form-group edit-text">
                <label asp-for="Birthday" class="control-label">День рождения</label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="block">
                <label>Роль</label>
                <select class="form-select" asp-for="Role" asp-items="@(new SelectList(ViewBag.Roles, nameof(IdentityRole.Name), nameof(IdentityRole.Name)))"></select>
            </div>
            <div class="form-group edit-text">
                <a asp-action="ChangePassword" asp-route-normalizedUserName="@Model.NormalizedUserName" class="btn btn-primary">Изменить пароль</a>
            </div>
            <div class="form-group edit-text">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}